

/* start of Header - 2 column layout with action buttons */

.bs_header_layout_1 .bs_logo{
    width: 100%;
    height: auto;
    max-width: 150px;
}
.bs_header_layout_1 .bs_lg_padding_right_30{
    padding-right: 30px;
}
.bs_header_layout_1 .bs_lg_padding_left_30{
    padding-left: 30px;
}
.bs_header_layout_1 .bs_signup_btn{
    border-radius: 0.25rem;
}
.bs_header_layout_1 .navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}

.bs_header_layout_1 .navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.bs_header_layout_1 .navbar-light .navbar-nav .nav-link {
    color: #000;
}
.bs_header_layout_1 .navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #0e6efd;
}
.bs_header_layout_1 .dropdown-toggle::after{
    vertical-align: middle;
    content: "\f229";
    vertical-align: middle;
    font-family: bootstrap-icons;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    border: none;
    font-size: 10px;
}
@media (min-width: 992px){
    .bs_header_layout_1 .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .bs_header_layout_1 .navbar-expand-lg .navbar-nav .dropdown-menu {
        box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    }
    .bs_logo_wrapper{
        padding-right: 1.5rem;
    }
}
@media(max-width:991px){
    .bs_header_layout_1 .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        padding: 10px 15px;
        border-radius: 4px;
        position: absolute;
        width: 100%;
        background-color: #fff;
        top: 75px;
        left: 0;
        box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
        padding-bottom: 25px;
    }
    .bs_header_layout_1 .bs_signup_btn{
        text-align: center;
    }
    .bs_header_layout_1 .nav-link , .bs_header_layout_1  .bs_header_btn_wrapper{
        display: block;
        padding: 1rem 0;
    }
    .bs_header_layout_1 .dropdown-menu{
        padding: 0;
        border:unset;
    }
    .bs_header_layout_1 .dropdown-item{
        padding: 1rem;
    }
    .bs_header_layout_1 .bs_signin_btn{
        color: #0d6efd !important;
        border: 1px solid #0d6efd;
        text-align: center;
        border-radius: 0.25rem;
    }
    .bs_header_layout_1 .bs_signin_btn_blk{
        padding-bottom: 0.5rem !important;
    }
    .bs_header_layout_1 .bs_signup_btn_blk{
        padding-top: 0.5rem !important;
    }
    .bs_header_layout_1 .bs_signin_btn,.bs_header_layout_1 .bs_signup_btn{
        margin: auto;
        padding: 0.7rem 0;
        max-width: 150px;
    }
    .bs_header_layout_1 .navbar-nav,.bs_header_layout_1 .dropdown-item{
        text-align: center;
    }
}

/* end of Header - 2 column layout with action buttons */



/* start of Hero - With right-side signup form instead of hero image */

.bs_hero_layout_4 .bs_mw_150{
    min-width: 150px;
}
.bs_hero_layout_4 .bs_action_btns button{
    margin: 5px;
}
.bs_hero_layout_4 .bs_hero_img{
    width: 100%;
    height: auto;
}
.bs_hero_layout_4 .bs_fs-20{
    font-size: 20px;
}
.bs_hero_layout_4 .bs_p-15{
    padding: 15px;
}
.bs_hero_layout_4 .bs_hero_login{
    padding: 35px;
    border-radius: 5px;
}
.bs_hero_layout_4 .bs_hero_login_heading{
    border-bottom: 1px solid #e2e2e2;
}
/*For large device*/
@media(min-width:992px){
    .bs_hero_layout_4 .bs_hero_login_form_section{
        max-width: 75%;
        margin: auto;
    }
}
/*For medium device*/
@media(max-width:991px){
    .bs_hero_layout_4 .bs_hero_img{
        width: 70%;
        height: auto;
    }
    .bs_hero_layout_4 .bs_md_text_center{
        text-align: center;
    }
}
/*For small device*/
@media(max-width:767px){
    .bs_hero_layout_4 .bs_small_text_center{
        text-align: center;
    }
}

/* end of Hero - With right-side signup form instead of hero image */



/* start of Features - 3 column layout with feature icons and text */

.bs_feature_layout_4 .bs_feature_icon{
    padding: 5px 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    position: absolute;
    top: -35px;
}
.bs_feature_layout_4 .bs_feature_icon i{
    font-size: 35px;
}
.bs_feature_layout_4 .bs_future_col{
    flex-direction: column;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}
.bs_feature_layout_4 .bs_feature_content{
    padding-top: 40px;
}
.bs_feature_layout_4 .section-heading{
    padding: 15px 0;
}
/*For large device*/
@media(min-width:992px){
    .bs_feature_layout_4 .bs_lg_feature_row{
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 15px;
    }
    .bs_feature_layout_4 .bs_lg_feature_row .col{
        display: table-cell;
        border: 1px solid #eaeaea;
        position: relative;
    }
    .bs_lg_position-absolute{
        position: absolute;
    }
    .bs_feature_layout_4 .bs_feature_action{
        bottom: 20px;
        text-align: center;
        left: 50%;
        padding-bottom: 0px;
        transform: translate(-50%, 10px);
    }
    .bs_feature_layout_4 .bs_future_col{
        padding-bottom: 30px;
    }
    .bs_feature_layout_4 .bs_section_title{
        margin-bottom: 30px;
    }
}
/*For medium device*/
@media(max-width:991px){
    .bs_feature_layout_4 .bs_future_col{
        border: 1px solid #eaeaea;
    }
}

/* end of Features - 3 column layout with feature icons and text */



/* start of Image grid 5 */

.bs_imagegrid_section5 .carousel-control-prev i, .bs_imagegrid_section5 .carousel-control-next i {
    font-size: 22px;
    margin-right: 2px;
    color: #767474;
}
.bs_imagegrid_section5 .carousel-control-prev {
	left: auto;
	right: 40px;
    margin-right: 5px;
}
.bs_imagegrid_section5 .carousel-control-next {
    margin-left: 5px;
}
.bs_imagegrid_section5 .carousel-control-next i {
	margin-right: -2px;
}
.bs_imagegrid_section5 .modal-dialog img{
    padding: 20px;
}
.bs_imagegrid_section5 img{
    max-width: 100%;
    height: 300px;
    object-fit: none;
    overflow: hidden;
}
/*For medium device*/
@media(min-width:768px){
    .bs_imagegrid_section5 .carousel-control-prev, .bs_imagegrid_section5 .carousel-control-next {
        width: 40px;
        height: 40px;
        background: blue;
        text-shadow: none;
        top: 0px;
    }
}
/*For small device*/
@media(max-width:767px){
    .bs_imagegrid_section5 .carousel-control-prev {
        left: 0;
        right: auto;
        margin-right: 5px;
    }
    .bs_imagegrid_section5 .carousel-control-prev i, .bs_imagegrid_section5 .carousel-control-next i {
       display: none;
    }
}

/* end of Image grid 5 */



/* start of Footer 4 */

.bs_footer_layout4 a:hover {
    color: #0a58ca !important;
}
.bs_footer_layout4 .bs_footer_widget_links,.bs_footer_middle_row_menu_list{
    padding-left: 0;
    list-style-type: none;
}
.bs_footer_layout4 .bs_footer_widget_links li{
    padding: 10px 0;
}

.bs_footer_layout4 .bs_text_copyright{
    margin-bottom: 0;
    font-size: 14px;
}
.bs_footer_layout4 .bs_padding_left-5{
    padding-left: 5px;
}
.bs_footer_layout4 .bs_fs-12{
    font-size: 12px;
}
.bs_footer_layout4 .bs_footer_widget_title{
    letter-spacing: .15em;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 6px;
    font-weight: 500;
    text-align: left;
    padding: 0;
    color: #000;
}
.bs_footer_layout4 .bs_navlink{
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    display: block;
    padding: 4px 0;
    color: #8f8f91;
}
.bs_footer_layout4 .bs_footer_copyright_row{
    width: 100%;
}
.bs_footer_layout4 .bs_footer_social_links{
    text-align: center;
}
.bs_footer_layout4 .bs_footer_middle_row_menu_list li{
    display: block;
    font-size: 16px;
    margin: 10px 0 4px;
    padding: 0 20px;
    position: relative;
    color: #333;
}
.bs_footer_layout4 .bs_footer_middle_row_menu_list li a{
    display: inline-block;
    color: #e8e8e8;
    padding: 4px 12px;
    margin: -4px -12px;
}
.bs_footer_layout4 .bs_footer_social_links i{
    font-size: 22px;
}
/*For medium device*/
@media(min-width:768px){
    .bs_footer_layout4 .bs_footer_copyright_row{
        display: flex;
        justify-content: space-between;
        align-items:  center;
    }
    .bs_footer_layout4 .bs_footer_social_links{
        text-align: center;
    }
    .bs_footer_layout4 .bs_footer_middle_row_menu_list li{
        display: inline;
    }

    .bs_footer_layout4 .bs_footer_middle_row_menu_list li:last-child:after{
        border-right: unset;
    }
}
/*For small device*/
@media(max-width:479px){
    .bs_footer_layout4 .footer_logo,.bs_footer_layout4 .bs_text_copyright{
        padding-bottom: 0.5rem;
    }
}
@media(max-width:767px){
    .bs_footer_layout4 .bs_footer_col{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* end of Footer 4 */

